services:
  mongodb:
    image: mongo:latest
    container_name: local_mongodb
    restart: always
    env_file:
      - .env
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - ./backend/db/mongodb/data:/data/db
      - ./backend/db/mongodb/schema/init-db.js:/docker-entrypoint-initdb.d/init-db.js:ro

  scraper:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile_scraper
    container_name: wikipedia_scraper
    volumes:
      - ./data/wiki_dumps:/app/data/wiki_dumps
    depends_on:
      - mongodb
    env_file:
      - .env
    profiles: ["tools"]